#Instructions{
    padding-top: 20px;
    color:whitesmoke;
}
#Game{
    color:#20c20e;
    text-align: center;
}
#Count{
    font-size: 100px;
}
#Number{
    background-color: transparent;
    width:100px;
    height:35px;
    color:#20c20e;
    text-align: center;
    font-size: 25px;
    border-radius: 100px;
    border: 1px solid whitesmoke;
}
#NumButton{
    height:35px;
    color:black;
    width:35px;
    background-color: #20c20e;
    border: 2px solid transparent;
    border-radius: 100px;
    margin-top: 10px;
    font-size:100%;
}
#Mssg{
    margin-bottom: 30px;
}